<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layout/layout.html}">

<th:block layout:fragment="head-extra">
  <!-- 추가적인 헤드가 있다면, 추가할 수 있음 -->
  <title>cboard - write</title>
  <!-- 이곳에만 페이지별 추가 스타일/스크립트 작성 -->
  <link th:href="@{/css/cboard-detail.css}" rel="stylesheet" />
  <script th:src="@{/js/cboard-detail.js}"></script>
</th:block>

<body>

<!-- 전체 콘텐츠 fragment -->
<div layout:fragment="content">
  <script th:inline="javascript">
    /*<![CDATA[*/
    var attachmentRespDTOS = [[${attachmentRespDTOS}]];
    /*]]>*/
  </script>
  <!--여백을 주기 위해 container div 안에 요소들 배치-->
  <div class="container py-4">


    <div th:object="${cBoardRespDTO}">
      <table class="table">
        <input type="hidden" id="boardNo" th:value="${cBoardRespDTO.boardNo}">
        <tbody>
        <tr>
          <th style="width: 80px;">제목</th>
          <td colspan="5" class="text-start">
            <span th:text="*{title}"><!--제목 들어갈 공간--></span>
            <span id="total-comment-count"><!--댓글 숫자 들어갈 공간--></span>
          </td>
        </tr>
        <tr>
          <th style="width: 80px;">작성자</th>
          <td th:text="*{writer}" class="text-start" style="width: 120px;">홍길동</td>
          <th style="width: 80px;">작성일</th>
          <td th:text="${#dates.format(cBoardRespDTO.postDate, 'yy-MM-dd HH:mm')}"
              class="text-start" style="width: 200px;">2025.05.10</td>
          <th style="width: 80px;">조회수</th>
          <td th:text="*{viewCount}" class="text-start">34</td>
        </tr>
        </tbody>
      </table>
      <div th:text="*{content}" class="border rounded p-3 mb-3 text-start"
           style="min-height: 120px; background-color: #f8f9fa;">본문내용
      </div>

      <!-- ■■■ 파일 업로드 ■■■ -->

      <!-- 드래그앤드롭 업로드 영역 -->
      <div id="file-list" class="rounded-3 p-4 bg-light">
        <!--
          rounded-3: Bootstrap의 border-radius, 모서리를 0.5rem(8px) 둥글게
          p-4: Bootstrap의 padding, 모든 방향에 1.5rem(24px) 여백
          bg-light: Bootstrap의 아주 연한 회색 배경(#f8f9fa)
        -->
      </div>

    </div>

    <!-- 좋아요 -->
    <div class="mb-2">
      <i id="heart-icon" class="fa-regular fa-heart" style="cursor: pointer; color:red;"></i>
      <span id="like-count">0</span>
    </div>
    <div id="like-people"></div>



    <!-- 댓글 작성란 -->
    <div class="commentInputArea py-4">
      <input type="text" class="form-control" id="commentContent" placeholder="댓글을 입력하세요">
      <img th:src="@{/assets/images/saveComment.png}" th:onclick="saveComment()" style="cursor: pointer; width:40px">
    </div>
    <div id="commentList"></div>
    <div id="comment-pagination"></div>



      <div class="d-flex justify-content-end gap-2 my-4">
        <a th:href="|@{/cboard/list}?${pageCBoardReqDTO.pageParams}|" class="btn btn-secondary">목록으로</a>
        <a th:href="|@{/cboard/reply}?ref=${cBoardRespDTO.ref}&step=${cBoardRespDTO.step}&refOrder=${cBoardRespDTO.refOrder}&${pageCBoardReqDTO.pageParams}|" class="btn btn-secondary">답글작성</a>
        <a th:href="|@{/cboard/edit}?boardNo=${cBoardRespDTO.boardNo}&${pageCBoardReqDTO.pageParams}|" class="btn btn-secondary">수정</a>
        <button id="post-remove-btn" class="btn btn-secondary">삭제</button>
      </div>
    </div>

    <!-- 삭제 확인 모달 -->
    <!-- Modal -->
    <div id="post-delete-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <form th:action="@{/cboard/remove}" method="post">
            <input type="hidden" name="boardNo" th:value="${cBoardRespDTO.boardNo}">
            <input type="hidden" name="pageNo" th:value="${pageCBoardReqDTO.pageNo}">
            <div class="modal-header">
              <h5 class="modal-title">알림</h5>
              <button id="close-modal-btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>[[${cBoardRespDTO.boardNo}]]번 글을 정말 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">

              <button type="submit" class="btn btn-danger">삭제</button>
              <button type="button" class="btn btn-secondary modal-reset-btn" data-bs-dismiss="modal">취소</button>
            </div>
          </form>
        </div>
      </div>
    </div> <!-- End: Modal -->
  </div>
</div>
</body>
</html>