<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 모든 페이지에 공통적으로 사용되는 HEAD 안의 내용 -->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- style, favicon, flatpickr, simple-jscalendar, font -->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-jscalendar@1.4.5/source/jsCalendar.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link th:href="@{/css/custom.css}" rel="stylesheet" />

  <!-- script, bootstrap, jquery, fontawesome, easepick, simple-jscalender -->
  <script th:src="@{/js/scripts.js}"></script>
  <script th:src="@{/js/custom.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://kit.fontawesome.com/9bef4b10f4.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-jscalendar@1.4.5/source/jsCalendar.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


  <th:block layout:fragment="head-extra"><!-- 헤드 fragment 자리 --></th:block>
  <th:block layout:fragment="style-extra"><!-- 스타일 fragment 자리 --></th:block>
  <th:block layout:fragment="script-extra"><!--자바스크립트 fragment 자리--></th:block>
</head>

<body>

<!-- 네비게이션 바 전체를 감싸는 nav 태그, Bootstrap 클래스 적용 (어두운 테마, 반응형 확장) -->
<nav class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #0f1d41;">
  <!-- 네비게이션 바의 내용을 중앙 정렬하는 컨테이너 -->
  <div class="container">
    <!-- 사이트/서비스의 로고 또는 브랜드명, 클릭 시 메인 페이지로 이동 -->
    <a class="navbar-brand" href="/">diarytodo</a>
    <!-- 모바일/작은 화면에서 메뉴를 접었다 펼칠 수 있는 토글 버튼 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- 햄버거 아이콘(≡) 표시 -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 접히는 영역: 메뉴 항목들을 감싸는 div, id로 토글 버튼과 연결 -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex ms-auto align-items-center text-white gap-4">
        <div th:if="${session.loginMember == null}" class="d-flex gap-4">
          <a class="nav-link text-white" aria-current="page" href="/member/signup">Signup</a>
          <a class="nav-link text-white" href="/member/login">Login</a>
          <a class="nav-link text-white" href="/cboard">cboard</a>
        </div>
        <div th:if="${session.loginMember != null}" class="d-flex align-items-center gap-4">
          <span class="me-2 text-white" th:text="|${session.loginMember.loginId}님|"></span>
          <a class="nav-link text-white" aria-current="page" href="/member/logout">Logout</a>
          <a class="nav-link text-white" href="/member/mypage">mypage</a>
          <a class="nav-link text-white" href="/todo">todo</a>
          <a class="nav-link text-white" href="/cboard">cboard</a>
        </div>
      </div>
    </div> <!-- /.collapse navbar-collapse -->
  </div> <!-- /.container -->
</nav>

<!-- Page content : layout.html을 유지한 채 아래의 div에 출력됨 -->
<div layout:fragment="content" ><!-- 모든 페이지가 출력되는 공간 --></div>

</body>
</html>
