<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="todoRight">
  <div id="ajaxTodoDetail">
    <div class="detailDiv">
      <table style="width:100%; border-collapse:collapse; table-layout:fixed;">
        <tbody>
        <tr>
          <!-- finished -->
          <td style="width:20%">
            <span style="color:#4b87c6;">
              <i th:id="'detailfinishedIcon-' + ${todoRespDTO.dno}"
                 class="finishedIcon fa-regular"
                 th:classappend="${todoRespDTO.isFinished} ? ' fa-circle-check' : ' fa-circle'"
                 th:attr="data-dno=${todoRespDTO.dno}"
                 style="color:#1e3050; font-size:24px;"></i>
            </span>
          </td>

          <!-- title -->
          <td style="width:60%;background: #faf9f8;">
            <input type="text"
                   th:id="'detailtitle-' + ${todoRespDTO.dno}"
                   class="form-control"
                   name="detailtitle"
                   th:value="${todoRespDTO.title}">
          </td>

          <!-- star -->
          <td class="detailStarDiv" style="width:20%; text-align:right; vertical-align:center;background: #faf9f8;">
            <span style="color:#4b87c6;">
              <i th:id="'detailstar-' + ${todoRespDTO.dno}"
                 class="starIcon fa-regular fa-star"
                 th:classappend="${todoRespDTO.isImportant} ? ' fa-solid' : ''"
                 th:attr="data-dno=${todoRespDTO.dno}"
                 style="color:#1e3050; font-size:24px;"></i>
            </span>
          </td>
        </tr>

        <tr>
          <td>기한</td>
          <td class="duedateTd" colspan="2">
            <input type="date"
                   th:id="'detailduedate-' + ${todoRespDTO.dno}"
                   class="form-control"
                   name="detailtitle"
                   th:value="${todoRespDTO.duedate}">
          </td>
        </tr>
        <tr>
          <!-- location -->
          <td>위치</td>
          <td class="locationTd" colspan="2">
            <input type="text"
                   th:id="'detaillocation-' + ${todoRespDTO.dno}"
                   class="form-control"
                   name="detaillocation"
                   th:value="${todoRespDTO.location}">
          </td>
        </tr>

        <tr>
          <!-- memo -->
          <td>메모</td>
          <td class="locationTd" colspan="2">
            <textarea th:id="'detailmemo-' + ${todoRespDTO.dno}"
                      class="form-control"
                      name="detailmemo"
                      th:text="${todoRespDTO.content}"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <!-- mod, del -->
          <td colspan="2">
            <button class="detailModBtn"
                    th:attr="data-dno=${todoRespDTO.dno}"
                    style="border:1px solid #b1b1a8; border-radius:4px; padding:5px 30px; background:#fff; color:#4b87c6; margin-right:2px; cursor:pointer; font-size:12px;">수정</button>
            <button class="detailDelBtn"
                    th:attr="data-dno=${todoRespDTO.dno}"
                    style="border:1px solid #e57373; border-radius:4px; padding:5px 30px; background:#fff; color:#e57373; cursor:pointer; font-size:12px;">삭제</button>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div id="updateTimeView">
              업데이트 됨 : <span id="nowUpdateTime"></span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>